:root {
  @apply bg-las-palmas-50 text-shark-950;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply bg-shark-950 text-white-100;
  }
}

.background-dots {
  background-image: url('./assets//bag-dots.png');
  background-repeat: repeat;
}

.chat-area {
  height: calc(100% - 70px);
}
